:root {
  --bg-light: #f7f0f5;
  --bg-dark: #1c1c1c;
  --primary-color: #00a1e4;
  --warning-color: #eaf27c;
  --danger-color: #ff312e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: var(--bg-dark);
  color: var(--bg-dark);
  font-weight: 400;
}

textarea {
  padding: 5px;
  border-radius: 10px;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: var(--se7dcfb6condary-color);
  color: #fff;
}

.btn-warning {
  background-color: var(--warning-color);
  color: #fff;
}

.btn-danger {
  background-color: var(--danger-color);
  color: #fff;
}

.navbar {
  width: 100vw;
  height: 75px;
  background: var(--danger-color);
  margin-bottom: 50px;
}

.navbar ul {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin: 10px;
  color: #fff;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.home-view-todo-control {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.top-bar-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.top-bar-container input {
  margin: 5px 10px;
  height: 40px;
  min-width: 300px;
  padding-left: 5px;
}

.top-bar-container button {
  margin: 5px 10px;
  height: 40px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-dark);
  background-color: var(--bg-dark);
  border-radius: 5px;
  margin-bottom: 50px;
}

.todo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 720px;
  border: 1px solid var(--bg-dark);
  background-color: var(--bg-light);
  margin: 10px 5px;
  border-radius: 5px;
}

.todo-card .todo-info {
  padding: 10px;
  width: 100%;
}

.todo-card .todo-info h3 {
  font-weight: 600;
}

.todo-card .todo-info .card-line {
  height: 2px;
  border-width: 0;
  width: 100%;
  margin: 5px 0 15px 0;
  background-color: var(--bg-dark);
  color: var(--bg-dark);
}

.todo-card .todo-info p {
  margin-bottom: 10px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.todo-card .todo-card-controls {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  /* animation: 0.2s ease 0s 1 slideInFromRight; */
}

.todo-card .todo-card-controls button {
  width: 40px;
  height: 40px;
  margin: 0 3px;
}

@keyframes bringModalIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  border-radius: 20px;
  position: fixed;
  background: var(--bg-light);
  width: 500px;
  min-height: 50%;
  top: 50%;
  left: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 0.5s ease 0s 1 bringModalIn forwards;
}

.modal-main h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

.modal-main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-main button {
  margin-top: 20px;
  border-radius: 15px;
}

.modal-main form label {
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-main form textarea[name='title'] {
  height: 30px;
  margin-bottom: 15px;
}

.modal-main form textarea[name='description'] {
  height: 100px;
  padding: 5px;
  margin-bottom: 15px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Login and Register */
.form-container form {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
}

.form-container h1 {
  color: #fff;
  margin-bottom: 30px;
}

.form-container .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.form-container .form-group input {
  height: 30px;
  padding-left: 5px;
  margin-left: 5px;
}

/* Submit button */
.form-container form button {
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .modal-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 300px;
    width: 95%;
    height: 65%;
  }

  .modal-main form {
    height: 75%;
  }

  .modal-main form textarea[name='title'] {
    height: 100px;
    margin-bottom: 15px;
  }

  .modal-main form textarea[name='description'] {
    height: 200px;
    margin-bottom: 15px;
  }
}
